body {
	margin: 0;
	padding: 0;
	background: black;
	background-size: cover;
}

.heading {
	color: #fff;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	margin: 0;
	padding: 20px;
	text-shadow: 0 0 20px #ff005b;
	font-size: 60px;
}
.heading::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: #ff005b;
	filter: blur(15px);
}

.box-news {
	width: auto;
	background: rgba(256, 256, 256, 0.2);
	padding: auto;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}
.box-news h2 {
	font-size: 15px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}
.box-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box-news h5 {
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	color: whitesmoke;
}
a,
a:visited {
	color: inherit;
}
.block {
	float: left;
	width: 25%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
